# Necessary import of python package

In [1]:
import os
from google.cloud import bigquery

# Python Variable

In [2]:
# change these to try this notebook out
ACCOUNT = 'student-04-388b8af7a4bd@qwiklabs.net'
SAC = 'jupyter-notebook-sac-b' # Change If Permission Error
SAC_KEY_DESTINATION = '/media/mujahid7292/Data/Gcloud_Tem_SAC'
PROJECT = 'qwiklabs-gcp-04-988d5d3d27fe'
BUCKET = 'bucket-qwiklabs-gcp-04-988d5d3d27fe'
REGION = 'us-central1'

# Bash Variable

In [3]:
os.environ['ACCOUNT'] = ACCOUNT
os.environ['SAC'] = SAC
os.environ['SAC_KEY_DESTINATION'] = SAC_KEY_DESTINATION
os.environ['BUCKET'] = BUCKET
os.environ['PROJECT'] = PROJECT
os.environ['REGION'] = REGION

# LogIn To Google Cloud

In [4]:
%%bash
gcloud auth login $ACCOUNT --force

Opening in existing browser session.

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?code_challenge=wVppRF3yrlPsfjgoOfJGXudkIL44CnKEbViDP7WjDM4&prompt=select_account&code_challenge_method=S256&access_type=offline&redirect_uri=http%3A%2F%2Flocalhost%3A8085%2F&response_type=code&client_id=32555940559.apps.googleusercontent.com&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth



You are now logged in as [student-04-388b8af7a4bd@qwiklabs.net].
Your current project is [ml-practice-260405].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID

# Set Current Project

In [5]:
%%bash
gcloud config set project $PROJECT

Updated property [core/project].

# Create Servic Account For Jupyter Notebook

In [6]:
%%bash
gcloud iam service-accounts create $SAC \
    --description "This service account will help us to connect local jupyter notebook with server" \
    --display-name "jupyter-sac"

Created service account [jupyter-notebook-sac-b].

# See the list of service account

In [7]:
%%bash
gcloud iam service-accounts list

NAME                                    EMAIL                                                                              DISABLED
Compute Engine default service account  41023211916-compute@developer.gserviceaccount.com                                  False
App Engine default service account      qwiklabs-gcp-04-988d5d3d27fe@appspot.gserviceaccount.com                           False
Qwiklabs User Service Account           qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com  False
jupyter-sac                             jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com        False

# Enabling The Service Account

In [8]:
%%bash
gcloud iam service-accounts enable $SAC@$PROJECT.iam.gserviceaccount.com --project $PROJECT

Enabled service account [jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com].

# Create New Key For Above Service Account

In [9]:
%%bash
gcloud iam service-accounts keys create $SAC_KEY_DESTINATION/$SAC.json \
  --iam-account $SAC@$PROJECT.iam.gserviceaccount.com \
  --project $PROJECT

created key [b7ff4f9a5ccd29cee336fb77d5ced9ad31d1a26e] of type [json] as [/media/mujahid7292/Data/Gcloud_Tem_SAC/jupyter-notebook-sac-b.json] for [jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com]

It may take up to 60 seconds before a newly created key can be used for authentication. If you experience authentication failures immediately after creating a new key, ensure that 60 seconds have elapsed before trying again.

# Activate the service account with above key

In [10]:
%%bash
gcloud auth activate-service-account \
--key-file=${SAC_KEY_DESTINATION}/${SAC}.json

Activated service account credentials for: [jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com]

# Set Google Application Credentials

In [11]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]='{}/{}.json'.format(SAC_KEY_DESTINATION,SAC)

Check Whether Google Application Credential Was Set Successfully Outside Virtual Environment

In [12]:
%%bash
set | grep GOOGLE_APPLICATION_CREDENTIALS

GOOGLE_APPLICATION_CREDENTIALS=/media/mujahid7292/Data/Gcloud_Tem_SAC/jupyter-notebook-sac-b.json

# Set Default Project And Region

In [13]:
%%bash
gcloud config set account $ACCOUNT
gcloud config set project $PROJECT
gcloud config set compute/region $REGION

Updated property [core/account].
Updated property [core/project].
Updated property [compute/region].

# Give BigQuery Access Permision To This Service Account

In [14]:
%%bash
gcloud projects add-iam-policy-binding $PROJECT \
    --member serviceAccount:$SAC@$PROJECT.iam.gserviceaccount.com \
    --role roles/bigquery.admin

bindings:
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/appengine.appAdmin
- members:
  - serviceAccount:service-41023211916@gae-api-prod.google.com.iam.gserviceaccount.com
  role: roles/appengineflex.serviceAgent
- members:
  - serviceAccount:jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/bigquery.admin
- members:
  - serviceAccount:service-41023211916@gcp-sa-bigquerydatatransfer.iam.gserviceaccount.com
  role: roles/bigquerydatatransfer.serviceAgent
- members:
  - serviceAccount:41023211916@cloudbuild.gserviceaccount.com
  role: roles/cloudbuild.builds.builder
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudbuild.iam.gserviceaccount.com
  role: roles/cloudbuild.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcf-admin-robot.iam.gserviceaccount.com
  role: roles/cloudfunctions.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudiot.iam.gserviceaccount.com
  role: roles/cloudiot.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudtasks.iam.gserviceaccount.com
  role: roles/cloudtasks.serviceAgent
- members:
  - serviceAccount:service-41023211916@cloudcomposer-accounts.iam.gserviceaccount.com
  role: roles/composer.serviceAgent
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/compute.admin
- members:
  - serviceAccount:service-41023211916@compute-system.iam.gserviceaccount.com
  role: roles/compute.serviceAgent
- members:
  - serviceAccount:service-41023211916@container-engine-robot.iam.gserviceaccount.com
  role: roles/container.serviceAgent
- members:
  - serviceAccount:service-41023211916@container-analysis.iam.gserviceaccount.com
  role: roles/containeranalysis.ServiceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-containerscanning.iam.gserviceaccount.com
  role: roles/containerscanning.ServiceAgent
- members:
  - serviceAccount:service-41023211916@dataflow-service-producer-prod.iam.gserviceaccount.com
  role: roles/dataflow.serviceAgent
- members:
  - serviceAccount:service-41023211916@dataproc-accounts.iam.gserviceaccount.com
  role: roles/dataproc.serviceAgent
- members:
  - serviceAccount:service-41023211916@dlp-api.iam.gserviceaccount.com
  role: roles/dlp.serviceAgent
- members:
  - serviceAccount:41023211916-compute@developer.gserviceaccount.com
  - serviceAccount:41023211916@cloudservices.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@appspot.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - serviceAccount:service-41023211916@containerregistry.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/editor
- members:
  - serviceAccount:service-41023211916@firebase-rules.iam.gserviceaccount.com
  role: roles/firebaserules.system
- members:
  - serviceAccount:service-41023211916@genomics-api.google.com.iam.gserviceaccount.com
  role: roles/genomics.serviceAgent
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/iam.serviceAccountAdmin
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/ml.admin
- members:
  - serviceAccount:service-41023211916@cloud-ml.google.com.iam.gserviceaccount.com
  role: roles/ml.serviceAgent
- members:
  - serviceAccount:admiral@qwiklabs-services-prod.iam.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/owner
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/source.admin
- members:
  - serviceAccount:service-41023211916@sourcerepo-service-accounts.iam.gserviceaccount.com
  role: roles/sourcerepo.serviceAgent
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/storage.admin
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/viewer
etag: BwWjJcj4bTg=
version: 1

Updated IAM policy for project [qwiklabs-gcp-04-988d5d3d27fe].

# Give GCS Access Permision To This Service Account

In [15]:
%%bash
gcloud projects add-iam-policy-binding $PROJECT \
    --member serviceAccount:$SAC@$PROJECT.iam.gserviceaccount.com \
    --role roles/storage.admin

bindings:
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/appengine.appAdmin
- members:
  - serviceAccount:service-41023211916@gae-api-prod.google.com.iam.gserviceaccount.com
  role: roles/appengineflex.serviceAgent
- members:
  - serviceAccount:jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/bigquery.admin
- members:
  - serviceAccount:service-41023211916@gcp-sa-bigquerydatatransfer.iam.gserviceaccount.com
  role: roles/bigquerydatatransfer.serviceAgent
- members:
  - serviceAccount:41023211916@cloudbuild.gserviceaccount.com
  role: roles/cloudbuild.builds.builder
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudbuild.iam.gserviceaccount.com
  role: roles/cloudbuild.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcf-admin-robot.iam.gserviceaccount.com
  role: roles/cloudfunctions.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudiot.iam.gserviceaccount.com
  role: roles/cloudiot.serviceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-cloudtasks.iam.gserviceaccount.com
  role: roles/cloudtasks.serviceAgent
- members:
  - serviceAccount:service-41023211916@cloudcomposer-accounts.iam.gserviceaccount.com
  role: roles/composer.serviceAgent
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/compute.admin
- members:
  - serviceAccount:service-41023211916@compute-system.iam.gserviceaccount.com
  role: roles/compute.serviceAgent
- members:
  - serviceAccount:service-41023211916@container-engine-robot.iam.gserviceaccount.com
  role: roles/container.serviceAgent
- members:
  - serviceAccount:service-41023211916@container-analysis.iam.gserviceaccount.com
  role: roles/containeranalysis.ServiceAgent
- members:
  - serviceAccount:service-41023211916@gcp-sa-containerscanning.iam.gserviceaccount.com
  role: roles/containerscanning.ServiceAgent
- members:
  - serviceAccount:service-41023211916@dataflow-service-producer-prod.iam.gserviceaccount.com
  role: roles/dataflow.serviceAgent
- members:
  - serviceAccount:service-41023211916@dataproc-accounts.iam.gserviceaccount.com
  role: roles/dataproc.serviceAgent
- members:
  - serviceAccount:service-41023211916@dlp-api.iam.gserviceaccount.com
  role: roles/dlp.serviceAgent
- members:
  - serviceAccount:41023211916-compute@developer.gserviceaccount.com
  - serviceAccount:41023211916@cloudservices.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@appspot.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - serviceAccount:service-41023211916@containerregistry.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/editor
- members:
  - serviceAccount:service-41023211916@firebase-rules.iam.gserviceaccount.com
  role: roles/firebaserules.system
- members:
  - serviceAccount:service-41023211916@genomics-api.google.com.iam.gserviceaccount.com
  role: roles/genomics.serviceAgent
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/iam.serviceAccountAdmin
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/ml.admin
- members:
  - serviceAccount:service-41023211916@cloud-ml.google.com.iam.gserviceaccount.com
  role: roles/ml.serviceAgent
- members:
  - serviceAccount:admiral@qwiklabs-services-prod.iam.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/owner
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/source.admin
- members:
  - serviceAccount:service-41023211916@sourcerepo-service-accounts.iam.gserviceaccount.com
  role: roles/sourcerepo.serviceAgent
- members:
  - serviceAccount:jupyter-notebook-sac-b@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/storage.admin
- members:
  - serviceAccount:qwiklabs-gcp-04-988d5d3d27fe@qwiklabs-gcp-04-988d5d3d27fe.iam.gserviceaccount.com
  - user:student-04-388b8af7a4bd@qwiklabs.net
  role: roles/viewer
etag: BwWjJefqis0=
version: 1

Updated IAM policy for project [qwiklabs-gcp-04-988d5d3d27fe].

<h2> Explore data </h2>

The data is  <a href='https://console.cloud.google.com/bigquery?GK=publicdata&page=table&t=natality&d=samples&p=publicdata&redirect_from_classic=true&project=corona-patient-finder&folder=&organizationId='>natality data</a> (record of births in the US). My goal is to predict the baby's weight given a number of factors about the pregnancy and the baby's mother.  Later, we will want to split the data into training and eval datasets. The hash of the year-month will be used for that -- this way, twins born on the same day won't end up in different cuts of the data.

<h1> 2. Creating a sampled dataset </h1>

This notebook illustrates:
<ol>
<li> Sampling a BigQuery dataset to create datasets for ML
<li> Preprocessing with Pandas
</ol>

<h2> Create ML dataset by sampling using BigQuery </h2>
<p>
Let's sample the BigQuery data to create smaller datasets.
</p>

In [16]:
# Create SQL query using natality data after the year 2000
base_query="""
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
"""

First we will run a query to calculate how many rows of data this above query will return.

In [17]:
count_num_rows_in_query = "SELECT COUNT(weight_pounds) FROM (" +base_query + ")"
print(count_num_rows_in_query)

SELECT COUNT(weight_pounds) FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
)

In [18]:
df_num_rows = bigquery.Client().query(count_num_rows_in_query).to_dataframe()
df_num_rows

        f0_
0  33240602

## <b><font color="red">If the service account was deleted and recreated it with the same name it could lead to unexpected behavior.</font></b>

So, This above query will return 3 core 32 laks rows of data.

## Count Number Of Unique hasmonth In The DataSet

There are only a limited number of years and months in the dataset. Let's see what the hashmonths are.

In [19]:
query_num_of_unique_hashmonth = "SELECT hashmonth, COUNT(weight_pounds) AS num_babies FROM (" + base_query +") GROUP BY hashmonth"
print(query_num_of_unique_hashmonth)

SELECT hashmonth, COUNT(weight_pounds) AS num_babies FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) GROUP BY hashmonth

In [20]:
df_num_of_unique_hashmonth = bigquery.Client().query(query_num_of_unique_hashmonth).to_dataframe()
df_num_of_unique_hashmonth

              hashmonth  num_babies
0  -2126480030009879160      344357
1   8904940584331855459      344191
2   6691862025345277042      338820
3  -1525201076796226340      303664
4   5934265245228309013      324598
..                  ...         ...
91 -6141045177192779423      374942
92  6063032531463074125      319497
93 -7420272703711713305      367608
94 -5960947298512945432      355100
95 -6086613178753042412      346616

[96 rows x 2 columns]

So our data set hash 96 unique hashmonth.

## Create Sampled Training Dataset

But i will create a sample training dataset with 13,500 rows only. So first create a query to select 80% of our data set.(As we will spilt our data into 80% train and 20% evaluation)

In [21]:
query_80_percent_training = "SELECT COUNT(weight_pounds) FROM ("+ base_query +") WHERE MOD(ABS(hashmonth),10) < 8"
print(query_80_percent_training)

SELECT COUNT(weight_pounds) FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) WHERE MOD(ABS(hashmonth),10) < 8

In [22]:
df_train_80_percent_quantity = bigquery.Client().query(query_80_percent_training).to_dataframe()
df_train_80_percent_quantity

        f0_
0  27023608

So we have selected 80% of our data and 80% of the data is equal to 2 core 70 laks rows. But we want 13,500 rows for our training dataset.

So if we multiply 27,023,608 this with 0.0005 we will get 13,511 rows of data for our training dataset. (This 0.0005 means we will take 5 example from every 10,000 examples)

In [23]:
query_sampled_train_quantity = "SELECT COUNT(weight_pounds) FROM (" + base_query + ") WHERE MOD(ABS(hashmonth),10) < 8 AND RAND() < 0.0005"
print(query_sampled_train_quantity)

SELECT COUNT(weight_pounds) FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) WHERE MOD(ABS(hashmonth),10) < 8 AND RAND() < 0.0005

In [24]:
df_train_quantity = bigquery.Client().query(query_sampled_train_quantity).to_dataframe()
df_train_quantity

     f0_
0  13470

So our training quantity is 13,532

In [25]:
query_sample_train_data = """
SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) WHERE MOD(ABS(hashmonth),10) < 8 AND RAND() < 0.0005
"""

In [26]:
df_train = bigquery.Client().query(query_sample_train_data).to_dataframe()
df_train.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.390794,True,19,1,39.0,3095933535584005890
1,8.311427,True,34,1,38.0,3095933535584005890
2,8.734715,False,18,1,39.0,3095933535584005890
3,6.437498,False,37,1,39.0,3095933535584005890
4,6.999677,True,31,1,36.0,3095933535584005890

In [27]:
print('Training Data Size: {}'.format(len(df_train)))

Training Data Size: 13367

Training Data Size 13,623

In [28]:
df_train.describe()

,weight_pounds,mother_age,plurality,gestation_weeks,hashmonth
count,13353.000000,13367.000000,13367.000000,13275.000000,1.336700e+04
mean,7.239658,27.388195,1.035086,38.589002,1.678095e+16
std,1.309502,6.158675,0.192743,2.558162,5.165510e+18
min,0.518086,11.000000,1.000000,18.000000,-9.183606e+18
25%,6.602845,23.000000,1.000000,38.000000,-4.701948e+18
50%,7.312733,27.000000,1.000000,39.000000,-5.245312e+17
75%,8.046873,32.000000,1.000000,40.000000,3.765901e+18
max,11.876302,50.000000,4.000000,47.000000,8.599690e+18

We can see that number of rows is different for different columns. So may be we have some missing value. So now adjust our query to remove those missing value.

In [29]:
query_train_adjust_missing_value="""
SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000 AND weight_pounds IS NOT NULL AND mother_age IS NOT NULL AND plurality IS NOT NULL AND gestation_weeks IS NOT NULL
) WHERE MOD(ABS(hashmonth),10) < 8 AND RAND() < 0.0005

"""
print(query_train_adjust_missing_value)

SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000 AND weight_pounds IS NOT NULL AND mother_age IS NOT NULL AND plurality IS NOT NULL AND gestation_weeks IS NOT NULL
) WHERE MOD(ABS(hashmonth),10) < 8 AND RAND() < 0.0005

In [30]:
df_train_missing_value_adjusted = bigquery.Client().query(query_train_adjust_missing_value).to_dataframe()
df_train_missing_value_adjusted.describe()

,weight_pounds,mother_age,plurality,gestation_weeks,hashmonth
count,13425.000000,13425.000000,13425.000000,13425.000000,1.342500e+04
mean,7.221967,27.416760,1.035233,38.597765,8.154937e+16
std,1.320949,6.173852,0.194213,2.575093,5.229074e+18
min,0.533519,13.000000,1.000000,18.000000,-9.183606e+18
25%,6.563162,22.000000,1.000000,38.000000,-4.701948e+18
50%,7.312733,27.000000,1.000000,39.000000,-4.110670e+17
75%,8.062305,32.000000,1.000000,40.000000,3.765901e+18
max,12.200382,48.000000,5.000000,47.000000,8.599690e+18

In [31]:
df_train_missing_value_adjusted.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.749249,True,22,1,39,3095933535584005890
1,7.374463,True,34,1,37,3095933535584005890
2,8.249698,False,27,1,38,3095933535584005890
3,10.211812,True,23,1,39,3095933535584005890
4,9.076431,False,22,1,39,3095933535584005890

## Create Sampled Evaluation Dataset

Now we will create our evaluation dataset from the rest of the 20% data.

In [32]:
query_20_percent_evaluation = "SELECT COUNT(weight_pounds) FROM ("+ base_query +") WHERE MOD(ABS(hashmonth),10) >= 8"
print(query_20_percent_evaluation)

SELECT COUNT(weight_pounds) FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) WHERE MOD(ABS(hashmonth),10) >= 8

In [33]:
df_eval_quantity = bigquery.Client().query(query_20_percent_evaluation).to_dataframe()
df_eval_quantity

       f0_
0  6216994

Our evaluation data set has 62 laks rows of data

In [34]:
query_sample_eval_data = """
SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000
) WHERE MOD(ABS(hashmonth),10) >= 8 AND RAND() < 0.0005
"""

In [35]:
df_eval = bigquery.Client().query(query_sample_eval_data).to_dataframe()
print('Length Of Evaluation Dataset: {}'.format(len(df_eval)))
df_eval.head()

Length Of Evaluation Dataset: 3111

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,6.000983,False,23,1,37.0,8904940584331855459
1,9.149184,False,31,1,41.0,8904940584331855459
2,6.188376,False,28,1,38.0,-7361509899869211058
3,6.000983,False,17,1,40.0,-7146494315947640619
4,6.999677,True,20,1,40.0,-7146494315947640619

Length of our evaluation data set is 3,112 rows.

In [36]:
df_eval.describe()

       weight_pounds   mother_age    plurality  gestation_weeks     hashmonth
count    3110.000000  3111.000000  3111.000000      3085.000000  3.111000e+03
mean        7.226560    27.293153     1.038573        38.603890 -1.377319e+17
std         1.325286     6.226606     0.199171         2.521757  5.091533e+18
min         0.811301    14.000000     1.000000        21.000000 -7.773938e+18
25%         6.563162    22.000000     1.000000        38.000000 -4.740473e+18
50%         7.312733    27.000000     1.000000        39.000000  2.707927e+17
75%         8.062305    32.000000     1.000000        40.000000  3.572456e+18
max        10.908473    50.000000     3.000000        47.000000  8.904941e+18

We can see that number of rows is different for different columns. So may be we have some missing value. So now adjust our query to remove those missing value.

In [37]:
query_eval_adjust_missing_value = """
SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000 AND weight_pounds IS NOT NULL AND mother_age IS NOT NULL AND plurality IS NOT NULL AND gestation_weeks IS NOT NULL
) WHERE MOD(ABS(hashmonth),10) >= 8 AND RAND() < 0.0005
"""
print(query_eval_adjust_missing_value)

SELECT * FROM (
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(MONTH AS STRING))) AS hashmonth
FROM
    publicdata.samples.natality
WHERE year > 2000 AND weight_pounds IS NOT NULL AND mother_age IS NOT NULL AND plurality IS NOT NULL AND gestation_weeks IS NOT NULL
) WHERE MOD(ABS(hashmonth),10) >= 8 AND RAND() < 0.0005

In [38]:
df_eval_missing_value_adjusted = bigquery.Client().query(query_eval_adjust_missing_value).to_dataframe()
df_eval_missing_value_adjusted.describe()

       weight_pounds   mother_age    plurality  gestation_weeks     hashmonth
count    3017.000000  3017.000000  3017.000000      3017.000000  3.017000e+03
mean        7.215283    27.292675     1.031157        38.598939 -5.920305e+16
std         1.319034     6.110786     0.179403         2.575563  5.033941e+18
min         0.626113    14.000000     1.000000        19.000000 -7.773938e+18
25%         6.563162    23.000000     1.000000        38.000000 -4.740473e+18
50%         7.308324    27.000000     1.000000        39.000000  2.707927e+17
75%         8.000575    31.000000     1.000000        40.000000  3.572456e+18
max        12.251088    48.000000     3.000000        47.000000  8.904941e+18

In [39]:
df_eval_missing_value_adjusted.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.811877,False,32,1,38,-7146494315947640619
1,7.561856,False,18,1,41,-4740473290291881219
2,6.109009,True,35,1,42,-7773938200482214258
3,7.202502,True,23,1,41,-4740473290291881219
4,7.813183,False,33,1,39,-4740473290291881219

<h2> Preprocess data using Pandas </h2>
<p>
Let's add extra rows to simulate the lack of ultrasound. In the process, we'll also change the plurality column to be a string.

In [40]:
# It is always crucial to clean raw data before using in ML, So we have a preprocessing 
# step
import pandas as pd
def preprocess(df):
    """
    Clean up data that we don't want to train on. In other words user have to tell us
    the mother_age otherwise our ML service will not work. Those features (such as 
    mother_age) was chosen because they are such a good predictors and because those
    are easy enough to collect.
    """
    df = df[df.weight_pounds > 0]
    df = df[df.mother_age > 0]
    df = df[df.gestation_weeks > 0]
    df = df[df.plurality > 0]
    
    # Now modify plurality field to be string
    twins_etc = dict(zip(
        [1,2,3,4,5],
        ['Single(1)', 'Twins(2)', 'Triplets(3)', 'Quadruplets(4)', 'Quintuplets(5)']
    ))
    df['plurality'].replace(twins_etc, inplace = True)
    
    # Now create extra rows to simulate lack of ultra sound
    nous = df.copy(deep=True)
    nous.loc[nous['plurality'] != 'Single(1)', 'plurality'] = 'Multiple(2+)'
    nous['is_male'] = 'Unknown'
    
    return pd.concat([df, nous])

### Apply Preprocessing On Our Training Data
Before Preprocessing Our Training Data looked Like:

In [41]:
df_train_missing_value_adjusted.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.749249,True,22,1,39,3095933535584005890
1,7.374463,True,34,1,37,3095933535584005890
2,8.249698,False,27,1,38,3095933535584005890
3,10.211812,True,23,1,39,3095933535584005890
4,9.076431,False,22,1,39,3095933535584005890

In [42]:
trainDf = df_train_missing_value_adjusted.copy(deep=True)
trainDf = preprocess(trainDf)
trainDf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.749249,True,22,Single(1),39,3095933535584005890
1,7.374463,True,34,Single(1),37,3095933535584005890
2,8.249698,False,27,Single(1),38,3095933535584005890
3,10.211812,True,23,Single(1),39,3095933535584005890
4,9.076431,False,22,Single(1),39,3095933535584005890

In [43]:
trainDf.tail()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
13420,6.624891,Unknown,32,Single(1),35,74931465496927487
13421,8.027031,Unknown,29,Single(1),39,74931465496927487
13422,6.250105,Unknown,29,Single(1),39,74931465496927487
13423,7.625790,Unknown,37,Single(1),36,74931465496927487
13424,7.500126,Unknown,19,Single(1),38,74931465496927487

In [44]:
# Describe works only on numeric column
trainDf.describe()

       weight_pounds    mother_age  gestation_weeks     hashmonth
count   26850.000000  26850.000000     26850.000000  2.685000e+04
mean        7.221967     27.416760        38.597765  8.154937e+16
std         1.320924      6.173737         2.575045  5.228977e+18
min         0.533519     13.000000        18.000000 -9.183606e+18
25%         6.563162     22.000000        38.000000 -4.701948e+18
50%         7.312733     27.000000        39.000000 -4.110670e+17
75%         8.062305     32.000000        40.000000  3.765901e+18
max        12.200382     48.000000        47.000000  8.599690e+18

### Apply Preprocessing On Our Evaluation Data
Before Preprocessing Our Evaluation Data looked Like:

In [45]:
df_eval_missing_value_adjusted.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.811877,False,32,1,38,-7146494315947640619
1,7.561856,False,18,1,41,-4740473290291881219
2,6.109009,True,35,1,42,-7773938200482214258
3,7.202502,True,23,1,41,-4740473290291881219
4,7.813183,False,33,1,39,-4740473290291881219

In [46]:
evalDf = df_eval_missing_value_adjusted.copy(deep=True)
evalDf = preprocess(evalDf)
evalDf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.811877,False,32,Single(1),38,-7146494315947640619
1,7.561856,False,18,Single(1),41,-4740473290291881219
2,6.109009,True,35,Single(1),42,-7773938200482214258
3,7.202502,True,23,Single(1),41,-4740473290291881219
4,7.813183,False,33,Single(1),39,-4740473290291881219

In [47]:
evalDf.tail()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
3012,6.750554,Unknown,21,Single(1),39,6544754656115871769
3013,7.142977,Unknown,25,Single(1),38,-2768780346491825728
3014,8.375361,Unknown,25,Single(1),41,-2995620979373137889
3015,6.937947,Unknown,21,Single(1),41,3572456083892950068
3016,6.042871,Unknown,45,Single(1),38,-2768780346491825728

In [48]:
# Describe works only on numeric column
evalDf.describe()

       weight_pounds   mother_age  gestation_weeks     hashmonth
count    6034.000000  6034.000000      6034.000000  6.034000e+03
mean        7.215283    27.292675        38.598939 -5.920305e+16
std         1.318925     6.110279         2.575350  5.033524e+18
min         0.626113    14.000000        19.000000 -7.773938e+18
25%         6.563162    23.000000        38.000000 -4.740473e+18
50%         7.308324    27.000000        39.000000  2.707927e+17
75%         8.000575    31.000000        40.000000  3.572456e+18
max        12.251088    48.000000        47.000000  8.904941e+18

<h2> Write out </h2>
<p>
In the final versions, we want to read from files, not Pandas dataframes. So, write the Pandas dataframes out as CSV files. 
Using CSV files gives us the advantage of shuffling during read. This is important for distributed training because some workers might be slower than others, and shuffling the data helps prevent the same data from being assigned to the slow workers.

In [49]:
trainDf.to_csv('train.csv', index=False, header=False)
evalDf.to_csv('eval.csv', index=False, header=False)

In [50]:
%%bash
wc -l *.csv
head *.csv
tail *.csv

   6034 eval.csv
  26850 train.csv
  32884 total
==> eval.csv <==
8.811876612139999,False,32,Single(1),38,-7146494315947640619
7.5618555866,False,18,Single(1),41,-4740473290291881219
6.1090092800199995,True,35,Single(1),42,-7773938200482214258
7.20250209954,True,23,Single(1),41,-4740473290291881219
7.81318256528,False,33,Single(1),39,-4740473290291881219
6.56316153974,True,29,Single(1),38,4331749811015213748
9.81277528162,True,28,Single(1),41,-7361509899869211058
6.6248909731,False,15,Single(1),39,1443901198490054949
7.24879917456,True,27,Single(1),37,-2995620979373137889
8.68841774542,False,27,Single(1),40,-4740473290291881219

==> train.csv <==
7.7492485093,True,22,Single(1),39,3095933535584005890
7.3744626639,True,34,Single(1),37,3095933535584005890
8.24969784404,False,27,Single(1),38,3095933535584005890
10.21181197584,True,23,Single(1),39,3095933535584005890
9.07643132654,False,22,Single(1),39,3095933535584005890
6.41765644682,False,30,Single(1),37,3095933535584005890
5.81138522632,True,20,Single(1),38,3095933535584005890
6.0009827716399995,False,19,Single(1),40,3095933535584005890
7.81318256528,False,27,Single(1),38,3095933535584005890
7.3744626639,True,31,Single(1),37,3095933535584005890
==> eval.csv <==
5.82681758466,Unknown,22,Single(1),38,-5742197815970064689
7.43839671988,Unknown,21,Single(1),37,-5742197815970064689
7.68751907594,Unknown,32,Single(1),38,3572456083892950068
7.2862777591,Unknown,26,Single(1),40,-2995620979373137889
8.24969784404,Unknown,26,Single(1),38,4331749811015213748
6.75055446244,Unknown,21,Single(1),39,6544754656115871769
7.1429772888,Unknown,25,Single(1),38,-2768780346491825728
8.375361333379999,Unknown,25,Single(1),41,-2995620979373137889
6.93794738514,Unknown,21,Single(1),41,3572456083892950068
6.04287060142,Unknown,45,Single(1),38,-2768780346491825728

==> train.csv <==
8.1350574678,Unknown,19,Single(1),36,74931465496927487
6.4374980503999994,Unknown,27,Single(1),39,74931465496927487
7.31273323054,Unknown,34,Single(1),37,74931465496927487
5.8753192823,Unknown,23,Single(1),38,74931465496927487
7.5728786996999995,Unknown,37,Single(1),39,74931465496927487
6.6248909731,Unknown,32,Single(1),35,74931465496927487
8.02703095942,Unknown,29,Single(1),39,74931465496927487
6.2501051276999995,Unknown,29,Single(1),39,74931465496927487
7.62578964258,Unknown,37,Single(1),36,74931465496927487
7.50012615324,Unknown,19,Single(1),38,74931465496927487